<div id="modal-backdrop" class="hidden"></div>
    <div id="create-cat-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add a cat</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="cat-input-element">
            <label for="cat-url">Photo URL</label>
            <input type="text" id="cat-url-input">
          </div>
          <div class="cat-input-element">
            <label for="cat-description-input">Description</label>
            <textarea id="cat-description-input"></textarea>
          </div>
          <div class="cat-input-element">
            <label for="cat-author-input">Author</label>
            <input type="text" id="cat-author-input">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Add a Cat</button>
        </div>

      </div>
    </div>

